Assignment1/Assignment1Client/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49717/Assignment1Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49717/Assignment1Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49717/Assignment1Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssignment1Service_primeCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:primeCheck" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_primeCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:primeCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_sumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:sumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_sumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_reverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:reverseString" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_reverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:reverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_printHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:printHtml" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_printHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:printHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_sortFiveNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:sortFiveNumbers" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_sortFiveNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortFiveNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssignment1Service">
    <wsdl:operation name="primeCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/primeCheck" message="tns:IAssignment1Service_primeCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/primeCheckResponse" message="tns:IAssignment1Service_primeCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/sumOfDigits" message="tns:IAssignment1Service_sumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/sumOfDigitsResponse" message="tns:IAssignment1Service_sumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/reverseString" message="tns:IAssignment1Service_reverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/reverseStringResponse" message="tns:IAssignment1Service_reverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="printHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/printHtml" message="tns:IAssignment1Service_printHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/printHtmlResponse" message="tns:IAssignment1Service_printHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortFiveNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/sortFiveNumbers" message="tns:IAssignment1Service_sortFiveNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/sortFiveNumbersResponse" message="tns:IAssignment1Service_sortFiveNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssignment1Service" type="tns:IAssignment1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="primeCheck">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/primeCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/sumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/reverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printHtml">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/printHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortFiveNumbers">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/sortFiveNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IAssignment1Service" binding="tns:BasicHttpBinding_IAssignment1Service">
      <soap:address location="http://localhost:49717/Assignment1Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>